.accounts .authentication co-plex-home .avatar {
  float: none;

  width: 60px;
  height: 60px;

  margin-right: 0;

  box-shadow: 0 0 0 4px #AAA;
}

co-plex-home {
  .container {
    margin: 0 auto;
  }

  .avatar-container {
    position: relative;

    padding: 24px 0;

    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 5px 5px 0 0;

    text-align: center;
  }

  .title {
    display: block;
    height: 30px;

    padding: 6px 0 0;

    background-color: #555;
    border-radius: 0 0 5px 5px;

    color: #BBB;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;

    overflow: hidden;
    white-space: nowrap;
  }

  .tags {
    position: absolute;
    left: 6px;
    right: 6px;
    bottom: 6px;

    overflow: auto;

    i {
      width: 25px;

      background-color: #F3F3F3;
      border-radius: 50%;
    }

    i.admin {
      float: right;

      color: #DFA700;
    }

    i.protected {
      float: left;

      color: #00A925;
    }
  }

  .container:hover {
    .avatar {
      box-shadow: 0 0 0 4px #FFF;
    }

    .title {
      color: #FFF;
    }
  }
}
