.login.panel {
  width: 320px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

  padding: 0;

  .header {
    position: relative;

    padding: 10px 14px;

    background: rgba(0, 0, 0, 0.08);

    h5 {
      margin: 0;
    }

    .help {
      position: absolute;
      top: 0;
      right: 14px;
      bottom: 0;

      a.details {
        display: block;
        margin-top: 2px;

        font-size: 22px;

        color: #AAA;
      }
    }
  }

  a.button, input[type="submit"] {
    margin: 0;
  }

  .buttons {
    height: 44px;

    text-align: right;
  }

  .button.switch {
    float: left;
  }

  .error {
    margin: 0 -1px;
  }

  label > input {
    margin-top: 3px;
    margin-bottom: 14px;
  }

  .pin-authentication {
    padding: 14px;

    .instructions {
      font-size: 14px;
    }

    .code {
      position: relative;

      height: 112px;
      margin: 3px 0 14px;

      background-color: rgba(0,0,0,0.3);
      color: white;

      .code-spinner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .code-value {
        font-size: 74px;
        letter-spacing: 10px;
        line-height: 112px;
        text-align: center;
      }

      .code-error {
        padding: 10px;
      }
    }
  }

  .basic-authentication {
    padding: 14px;
  }
}
