// bower:scss
// endbower

@import 'configuration/base';
@import 'configuration/accounts';
@import 'configuration/server';
@import 'configuration/rules';

@import 'directives/configuration/header';
@import 'directives/plex/login';
@import 'directives/plex/pin';
@import 'directives/button-input';

@import 'connect';
@import 'login';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  padding: 0;
}

button, a {
  outline: none;
}

button.secondary:focus {
  background-color: #e7e7e7;
}

button.secondary:hover {
  background-color: #b9b9b9;
}

button:focus {
  background-color: #008CBA;
}

button:hover {
  background-color: #007095;
}

.scroll-container {
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  padding: 5px;

  font-size: 10px;

  i {
    font-size: 14px;

    vertical-align: middle;

    color: #CCC;
  }

  a:hover i, a.active i {
    color: #888;
  }

  .extra + .extra {
    margin-top: 3px;
  }

  .extra.connection .extended {
    margin-left: 1px;
  }

  .extended {
    display: inline-block;
  }
}

.busy .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}
