.accounts {
  margin-top: 30px;

  .side-nav {
    li.active a {
      background: rgba(0, 0, 0, 0.05);
    }

    li.active > a:first-child:not(.button),
    li a:first-child:not(.button):hover,
    li a:first-child:not(.button):focus {
      color: #008CBA;
    }
  }
}
