.accounts {
  margin-top: 25px;

  .list {
    margin-top: 67px;

    .avatar {
      height: 32px;

      border-radius: 50%;

      margin-left: -6px;
      margin-right: 10px;
    }

    .state {
      float: right;

      font-size: 16px;

      margin-top: 4px;
    }

    .actions {
      display: table;
      width: 100%;

      margin-top: 10px;

      .actions-left {
        display: table-cell;

        width: 53px;

        vertical-align: top;

        button {
          margin: 0;
        }
      }

      .actions-right {
        display: table-cell;

        vertical-align: top;

        co-button-input {
          margin-left: 4px;
          margin-right: -1px;
        }
      }

      button {
        font-size: 17px;
        padding: 0.375rem 1.25rem;
      }

      .create {
        display: inline-block;
      }
    }
  }

  .side-nav {
    li a:hover,
    li a:focus {
      background: rgba(0, 0, 0, 0.04);
    }

    li.active a {
      background: rgba(0, 0, 0, 0.08);
    }

    li.active > a:first-child:not(.button),
    li a:first-child:not(.button):hover,
    li a:first-child:not(.button):focus {
      color: #008CBA;
    }
  }

  .authentication {
    .avatar {
      float: left;
      height: 85px;

      margin-right: 20px;

      border-radius: 50%;
    }

    .account-edit {
      padding: 10px;
    }

    .account-view {
      padding: 10px;

      .details {
        height: 85px;

        a {
          margin: 0;
        }
      }
    }

    .tabs {
      dd > a {
        padding: 4px 12px;

        background-color: transparent;
      }

      dd > a:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }

      dd.active > a {
        color: inherit;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    .tabs-content {
      background-color: rgba(0, 0, 0, 0.05);

      .content {
        padding: 5px;
      }

      small.warning {
        display: block;

        margin-top: -1px;
        padding: 0.375rem 0.5625rem 0.5625rem;

        font-size: 0.75rem;
        font-style: italic;
        font-weight: normal;

        background: #BDB820;
        color: #FFFFFF;
      }

      small.error {
        background: #BD2820;
      }

      small.error, small.warning {
        margin-bottom: 5px;
      }

      label[for="trakt.oauth.code"] a {
        float: right;
      }

      .accordion {
        dd > a {
          padding: 4px 7px;

          background: rgba(0, 0, 0, 0.06);
        }

        dd > a:hover {
          background: rgba(0, 0, 0, 0.09);
        }

        .content {
          padding: 10px;
        }
      }
    }

    dd .content > label + input {
      margin-top: 3px;
    }

    dd .content > input + label {
      margin-top: 9px;
    }

    dd .content > input {
      margin-bottom: 3px;
    }
  }

  //
  // Authentication state icon
  //

  .authentication dd > a:before,
  .list .state:before {
    // Font Awesome
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);

    // Icon
    color: #757575;
    content: "\f056";
  }

  .authentication dd[data-state="error"] > a:before,
  .list .state[data-state="error"]:before {
    color: #BD2820;
    content: "\f06a";
  }

  .authentication dd[data-state="warning"] > a:before,
  .list .state[data-state="warning"]:before  {
    color: #BDB820;
    content: "\f06a";
  }

  .authentication dd[data-state="valid"] > a:before,
  .list .state[data-state="valid"]:before  {
    color: #4FA51C;
    content: "\f058";
  }

  .authentication dd > a:before {
    // Alignment
    margin-right: 8px;
  }
}

.accounts > .options {
  margin-top: 0;
  margin-bottom: 80px;
}

.accounts > .options .group:first-child .header {
  margin-top: 0;
}
