body.dragging, body.dragging * {
  cursor: move !important;
}

.rules {
  margin-top: 25px;

  h5, h6 {
    line-height: 2.6;

    margin: 0;
    padding-left: 5px;
  }

  table {
    width: 100%;

    background: transparent;
    border: none;

    thead {
      background: rgba(0, 0, 0, 0.14);

      th {
        padding-left: 19px;
      }
    }

    tbody {
      tr {
        background: rgba(0, 0, 0, 0.035);
      }

      tr:nth-of-type(even) {
        background: rgba(0, 0, 0, 0.055);
      }
    }

    tfoot {
      background: transparent;
    }

    tr {
      height: 44px;
    }

    th.actions {
      width: 64px;
    }

    th.account {
      width: 170px;
    }

    td {
      padding: 0 10px;

      input, select {
        margin: 0;
      }

      select, .selectize-control {
        height: 30px;
      }

      .selectize-control {
        margin-bottom: 6px;

        .selectize-dropdown,
        .selectize-input,
        .selectize-input input {
          font-size: 14px;
        }

        .selectize-dropdown .optgroup-header {
          font-weight: bold;
        }

        input {
          height: 18px;
        }
      }

      .plain {
        padding: 10px 9px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    td.actions {
      padding: 5px;

      font-size: 17px;
      text-align: right;

      // disable text selection on action buttons
         -moz-user-select: none;
          -ms-user-select: none;
      -webkit-user-select: none;
              user-select: none;

      a {
        display: inline-block;
        width: 14px;

        margin-left: 3px;

        color: #333;
      }

      a:hover {
        color: #777;
      }

      a.move {
        display: block;
        float: left;
        position: absolute;

        width: 20px;
        margin-left: -6px;

        text-align: center;

        color: #BBB;
      }

      a.move:hover {
        color: #777;
        cursor: -webkit-grab;
      }
    }

    tfoot td.actions {
      a {
        color: #999;
      }

      a:hover {
        color: #777;
      }
    }

    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }

    tr.placeholder {
      position: relative;

      height: 0;
    }

    tr.placeholder:before {
      position: absolute;
      width: 0;
      height: 0;

      margin-top: -5px;
      left: 5px;

      content: "";

      border: 5px solid transparent;
      border-left-color: #333;
      border-right: none;
    }
  }

  .clients {
    table {
      th.name {
        width: 190px;
      }

      th.machine-identifier {
        width: 280px;
      }

      td.machine-identifier {
        width: 260px;

        .plain {
          width: 260px;
        }

        .selectize-input div {
          width: 220px;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .selectize-dropdown-content {
          .option {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
