<div class="row" ng-class="{'has-description': option.description}">
  <div class="large-6 columns controls controls-inline">
    <input id="{{ option.key }}" type="checkbox" ng-model="option.value"/>

    <div class="title">
      <label for="{{ option.key }}">{{ option.label }}</label>
      <a ng-click="openDescription()"><i class="fi-info"></i></a>
    </div>
  </div>

  <div class="large-6 description" ng-class="{opened: descriptionOpened}">
    <a class="close" aria-label="Close" ng-click="closeDescription()">&#215;</a>
    <div marked="option.description"></div>
  </div>

  <div class="description-overlay" ng-class="{opened: descriptionOpened}" ng-click="closeDescription()"></div>
</div>
