@import '../../mixins/no-select';

co-trakt-login {
  .fields {
    margin-bottom: 14px;
  }

  label > input[type="text"], input[type="password"] {
    margin: 1px 0 1rem 0;
  }

  label:last-child > input[type="text"], input[type="password"] {
    margin-bottom: 0;
  }

  a.button, input[type="submit"] {
    margin: 0;
  }

  .buttons {
    text-align: right;
  }

  .buttons.small {
    height: 44px;
  }

  .buttons.tiny {
    height: 33px;
  }

  .buttons-left {
    float: left;

    .button {
      margin-right: 6px;
    }
  }

  .buttons,
  .buttons .button,
  .buttons-left {
    @include no-select();
  }
}
