co-button-input {
  .cobi {
    display: table;
    width: 100%;
  }

  .cobi-input {
    display: none;
    width: 100%;

    vertical-align: middle;

    input {
      height: 32px;

      margin: 0;
    }
  }

  .cobi-button {
    display: table-cell;

    vertical-align: middle;

    button {
      margin: 0 -1px 0 0;
    }
  }

  .cobi.opened {
    .cobi-input {
      display: table-cell;
    }
  }

  .error {
    width: 100%;

    margin-top: 0;

    font-size: 0.7rem;
  }
}
