<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Configuration - trakt (for Plex)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="bower_components/foundation-icon-fonts/foundation-icons.css" />
    <link rel="stylesheet" href="bower_components/ladda-foundation-5/dist/ladda-themeless.css" />
    <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="configurationApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <top-bar ng-cloak>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#/">Configuration</a></h1>
        </li>
        <li toggle-top-bar class="menu-icon"><a>Menu</a></li>
      </ul>

      <top-bar-section>
        <ul class="left" ng-show="$s">
          <li><a href="#/configuration/server">Server</a></li>
          <li><a href="#/configuration/accounts">Accounts</a></li>
          <li><a href="#/configuration/rules">Rules</a></li>
        </ul>

        <ul class="right">
          <li ng-show="$s"><a href="#/connect">{{ $s.name }}</a></li>
          <li has-dropdown ng-show="$a.authenticated">
            <a>{{ $a.user.username }}</a>
            <ul top-bar-dropdown>
              <li><a href="#/logout">Logout</a></li>
            </ul>
          </li>

          <li has-dropdown>
            <a>Support</a>
            <ul top-bar-dropdown>
              <li style="display: none;">
                <a href="https://github.com/trakt-for-plex/configuration/wiki" target="_blank">Wiki</a>
              </li>
              <li>
                <a href="https://github.com/trakt-for-plex/configuration/issues" target="_blank">Issues</a>
              </li>
              <li>
                <a href="https://github.com/trakt-for-plex/configuration/issues/new" target="_blank">Report an issue</a>
              </li>
            </ul>
          </li>
        </ul>
      </top-bar-section>
    </top-bar>

    <section role="main" class="scroll-container" ng-view=""></section>

    <div class="footer" ng-controller="FooterController" ng-cloak>
      <div class="extra version">
        <a href ng-class="{active: versionVisible}" ng-click="toggleVersion()" title="Version">
          <i class="fa fa-code"></i>
        </a>

        <div class="extended" ng-show="versionVisible">
          Version: <a href="https://github.com/trakt-for-plex/configuration/releases/tag/{{ $m.version }}" target="_blank">{{ $m.version }}</a>, Revision: <a href="https://github.com/trakt-for-plex/configuration/commit/{{ $m.revision.hash }}" target="_blank">{{ $m.revision.label }}</a>
        </div>
      </div>

      <div class="extra connection">
        <a href ng-class="{active: connectionVisible}" ng-click="toggleConnection()" title="Connection">
          <i class="fa fa-server"></i>
        </a>

        <div class="extended" ng-show="connectionVisible">
          <div ng-show="$s.name">
            Connected to {{ $s.name }} via {{ $s.current.uri }}
          </div>
          <div ng-show="!$s.name">
            Not connected
          </div>
        </div>
      </div>
    </div>

    <!-- build:js(.) scripts/raven.js -->
    <script src="bower_components/raven-js/dist/raven.js"></script>
    <!-- endbuild -->

    <script>
      Raven.config('http://2e2991c4808f43e0b186f690b9971230@sentry.skipthe.net/2', {
           })
           .install();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65288831-1', 'auto');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="bower_components/ua-parser-js/src/ua-parser.js"></script>
    <script src="bower_components/x2js/xml2json.min.js"></script>
    <script src="bower_components/angular-xml/angular-xml.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/cerealizer.js/dist/cerealizer.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/ladda-foundation-5/dist/ladda.js"></script>
    <script src="bower_components/trakt.js/dist/trakt.js"></script>
    <script src="bower_components/httpinvoke/httpinvoke-browser.js"></script>
    <script src="bower_components/plex.js/dist/global/when.js"></script>
    <script src="bower_components/plex.js/dist/global/plex.js"></script>
    <script src="bower_components/sifter/sifter.js"></script>
    <script src="bower_components/microplugin/src/microplugin.js"></script>
    <script src="bower_components/selectize/dist/js/selectize.js"></script>
    <script src="bower_components/angular-selectize2/dist/selectize.js"></script>
    <script src="bower_components/jquery-sortable/source/js/jquery-sortable.js"></script>
    <script src="bower_components/angular-raven/angular-raven.js"></script>
    <script src="bower_components/JavaScript-MD5/js/md5.js"></script>
    <script src="bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
    <script src="bower_components/SHA-1/sha1.js"></script>
    <!-- endbower -->

    <script src="bower_components/angulartics/src/angulartics.js"></script>
    <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/metadata.js"></script>
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/configuration/accounts.js"></script>
    <script src="scripts/controllers/configuration/server.js"></script>
    <script src="scripts/controllers/configuration/rules.js"></script>
    <script src="scripts/controllers/connect.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/logout.js"></script>

    <script src="scripts/core/differ.js"></script>
    <script src="scripts/core/utils.js"></script>

    <script src="scripts/directives/authentication/plex.js"></script>
    <script src="scripts/directives/authentication/trakt.js"></script>
    <script src="scripts/directives/configuration/group.js"></script>
    <script src="scripts/directives/configuration/header.js"></script>
    <script src="scripts/directives/configuration/option.js"></script>
    <script src="scripts/directives/button.js"></script>
    <script src="scripts/directives/button-input.js"></script>

    <script src="scripts/filters/orderObjectBy.js"></script>

    <script src="scripts/models/authentication/base.js"></script>
    <script src="scripts/models/authentication/main.js"></script>
    <script src="scripts/models/authentication/plex.js"></script>
    <script src="scripts/models/authentication/trakt.js"></script>
    <script src="scripts/models/configuration/rules/client/collection.js"></script>
    <script src="scripts/models/configuration/rules/client/rule.js"></script>
    <script src="scripts/models/configuration/rules/user/collection.js"></script>
    <script src="scripts/models/configuration/rules/user/rule.js"></script>
    <script src="scripts/models/account.js"></script>
    <script src="scripts/models/connection.js"></script>
    <script src="scripts/models/options.js"></script>
    <script src="scripts/models/server.js"></script>

    <script src="scripts/services/channel/system.js"></script>
    <script src="scripts/services/plex/messaging.js"></script>
    <script src="scripts/services/raven/tags.js"></script>
    <script src="scripts/services/server/connection.js"></script>
    <script src="scripts/services/authentication.js"></script>

    <script src="scripts/utils/string.js"></script>
    <script src="scripts/utils/version.js"></script>
    <!-- endbuild -->
  </body>
</html>
