<div class="cobi" ng-class="{opened: opened}">
  <div class="cobi-input">
    <input type="text" placeholder="{{ placeholder }}" ng-model="value" ng-keyup="keyup($event)"/>
  </div>

  <div class="cobi-button">
    <button class="ladda-button tiny secondary"
            data-style="zoom-out"
            data-spinner-color="#333333"
            data-spinner-size="24"
            title="{{ title }}"
            ng-click="click()"
      >
      <span class="ladda-label" ng-transclude></span>
    </button>
  </div>
</div>

<small class="error" ng-show="error">{{ error }}</small>
