<div class="accounts small-12 large-9 large-centered columns">
  <div class="list small-4 columns">
    <ul class="panel side-nav">
      <li ng-repeat="a in accounts" ng-class="{active: account.id == a.id}">
        <a href="#/configuration/accounts?id={{ a.id }}">
          <img class="avatar" ng-src="{{ a.thumb_url }}"/>{{ a.name }}<i class="state" data-state="{{ a.authentication.state }}"></i>
        </a>
      </li>
    </ul>

    <div class="actions">
      <div class="actions-left">
        <co-button co-class="secondary" co-tooltip="Refresh accounts" co-callback="refresh">
          <i class="fi-refresh"></i>
        </co-button>
      </div>

      <div class="actions-right">
        <co-button-input class="create" co-placeholder="Name" co-tooltip="Create account" co-callback="create">
          <i class="fi-plus"></i>
        </co-button-input>
      </div>
    </div>
  </div>

  <div class="options small-8 columns">
    <co-configuration-header
      class="row"
      co-title="account.name"
      co-refresh="accountRefresh"
      co-discard="accountDiscard"
      co-save="accountSave">
    </co-configuration-header>

    <div class="authentication group" ng-show="account">
      <div class="row header">
        <div class="small-8 large-10 columns">
          <h5>Authentication</h5>
        </div>
      </div>

      <tabset>
        <tab heading="Trakt" data-state="{{ account.authentication.trakt.state }}">
          <co-authentication-trakt co-trakt="account.authentication.trakt"></co-authentication-trakt>
        </tab>
        <tab heading="Plex" data-state="{{ account.authentication.plex.state }}">
          <co-authentication-plex co-plex="account.authentication.plex"></co-authentication-plex>
        </tab>
      </tabset>
    </div>

    <co-configuration-group co-groups="account.options.groups"></co-configuration-group>
  </div>
</div>
