<div class="rules large-9 large-centered columns">
  <div class="clients large-12">
    <co-configuration-header
      class="row"
      co-title="'Client Rules'"
      co-self="client"
      co-refresh="client.refresh"
      co-discard="client.discard"
      co-save="client.save">
    </co-configuration-header>

    <table cellspacing="0" data-collection="client">
      <thead>
        <tr>
          <th class="actions"></th>
          <th class="account">Account</th>
          <th class="machine-identifier">Machine Identifier</th>
          <th class="name">Name</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in client.rules track by $index" ng-class="{edit: rule.state == 'edit'}">
          <td class="actions" ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <a title="Delete" ng-click="rule.delete()"><i class="fi-x"></i></a>
              <a title="Save" ng-click="rule.save()"><i class="fi-save"></i></a>
            </div>
            <div ng-switch-default>
              <a title="Move" class="move"><i class="fa fa-arrows-v"></i></a>
              <a title="Delete" ng-click="rule.delete()"><i class="fi-x"></i></a>
              <a title="Edit" ng-click="rule.edit()"><i class="fi-wrench"></i></a>
            </div>
          </td>
          <td class="account" ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'name', label: 'Accounts'}
                  ]
                }"
                options="client.accounts"
                ng-model="rule.account.id">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ rule.account.name }}
            </div>
          </td>
          <td class="machine-identifier" ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  create: true,
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'key', label: 'Machine Identifiers'}
                  ]
                }"
                options="client.available.keys"
                ng-model="rule.key">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ attributeLabel(rule.key) }}
            </div>
          </td>
          <td ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  create: true,
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'name', label: 'Names'}
                  ]
                }"
                options="client.available.names"
                ng-model="rule.name">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ attributeLabel(rule.name) }}
            </div>
          </td>
          <td ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  create: true,
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'address', label: 'IP Addresses'}
                  ]
                }"
                options="client.available.addresses"
                ng-model="rule.address">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ attributeLabel(rule.address) }}
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="new">
          <td class="actions">
            <a title="New" ng-click="client.create()"><i class="fi-plus"></i></a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="users large-12">
    <co-configuration-header
      class="row"
      co-title="'User Rules'"
      co-self="user"
      co-refresh="user.refresh"
      co-discard="user.discard"
      co-save="user.save">
    </co-configuration-header>

    <table cellspacing="0" data-collection="user">
      <thead>
        <tr>
          <th class="actions"></th>
          <th class="account">Account</th>
          <th style="width: 220px;">Name</th>
          <th style="width: auto;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rule in user.rules track by $index" ng-class="{edit: rule.state == 'edit'}">
          <td class="actions" ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <a title="Delete" ng-click="rule.delete()"><i class="fi-x"></i></a>
              <a title="Save" ng-click="rule.save()"><i class="fi-save"></i></a>
            </div>
            <div ng-switch-default>
              <a title="Move" class="move"><i class="fa fa-arrows-v"></i></a>
              <a title="Delete" ng-click="rule.delete()"><i class="fi-x"></i></a>
              <a title="Edit" ng-click="rule.edit()"><i class="fi-wrench"></i></a>
            </div>
          </td>
          <td class="account" ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'name', label: 'Accounts'}
                  ]
                }"
                options="user.accounts"
                ng-model="rule.account.id">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ rule.account.name }}
            </div>
          </td>
          <td ng-switch on="rule.state">
            <div ng-switch-when="edit">
              <selectize
                config="{
                  create: true,
                  optgroupField: 'type',
                  optgroupValueField: 'type',
                  maxItems: 1,
                  optgroups: [
                    {type: 'name', label: 'Names'}
                  ]
                }"
                options="user.available.names"
                ng-model="rule.name">
              </selectize>
            </div>
            <div class="plain" ng-switch-default>
              {{ attributeLabel(rule.name) }}
            </div>
          </td>
          <td style="width: auto;"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="new">
          <td class="actions">
            <a title="New" ng-click="user.create()"><i class="fi-plus"></i></a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
