<div class="options small-12 small-centered large-6 large-centered columns">
  <div class="row">
    <div class="title small-5 large-7 columns">
      <h5>{{ $s.name }}</h5>
    </div>
    <div class="actions small-7 large-5 columns">
      <co-button co-class="secondary" co-tooltip="Refresh options" co-callback="refresh">
        <i class="fi-refresh"></i>
      </co-button>

      <co-button co-class="secondary" co-tooltip="Discard changes" co-callback="discard">
        <i class="fi-trash"></i>
      </co-button>

      <co-button co-tooltip="Save changes" co-callback="save">
        <i class="fi-save"></i>
      </co-button>
    </div>
  </div>

  <div class="group" ng-repeat="(key, group) in options.groups">
    <div class="row header">
      <div class="small-8 large-10 columns">
        <h5>{{ group.name }}</h5>
      </div>

      <div class="switch small-4 large-2 columns" ng-show="group.enabled">
        <input id="{{ group.enabled.key }}" type="checkbox" ng-model="group.enabled.value">
        <label for="{{ group.enabled.key }}"></label>
      </div>
    </div>

    <div class="row group-options">
      <co-option class="columns" ng-repeat="option in group.options" option="option" ></co-option>
    </div>

    <div class="sub-group row">
      <div class="columns" ng-repeat="(key, group) in group.groups">
        <div class="row header">
          <div class="small-12 columns">
            <h6>{{ group.name }}</h6>
          </div>
        </div>

        <div class="row group-options">
          <co-option class="columns" ng-repeat="option in group.options" option="option" ></co-option>
        </div>
      </div>
    </div>
  </div>
</div>
