<small class="message {{ message.type }}" ng-repeat="message in plex.messages track by $index">{{ message.content }}</small>

<div ng-switch="state()">
  <div class="account-edit" ng-switch-when="edit">
    <co-plex-login
      co-authenticated="onAuthenticated"
      co-cancelled="onCancelled"
      co-button-size="tiny">
    </co-plex-login>
  </div>

  <div class="account-view" ng-switch-default>
    <img class="avatar" ng-src="{{ plex.thumb_url }}">

    <div class="details">
      <h4>{{ plex.username }}</h4>

      <div class="actions">
        <a class="button tiny secondary" ng-click="switch('edit')">Change</a>
      </div>
    </div>
  </div>
</div>
