<accordion close-others="true">
  <accordion-group heading="OAuth" data-valid="{{ authorization.oauth.valid }}" is-open="true">
    <label for="trakt.oauth.code">Authentication PIN</label>
    <input id="trakt.oauth.code" type="password" ng-model="authorization.oauth.code" />
  </accordion-group>

  <accordion-group heading="Basic" data-valid="{{ authorization.basic.valid }}">
    <label for="trakt.basic.username">Username</label>
    <input id="trakt.basic.username" type="text" ng-model="authorization.basic.username" />

    <label for="trakt.basic.password">Password</label>
    <input id="trakt.basic.password" type="password" ng-model="authorization.basic.password" />
  </accordion-group>
</accordion>
