<div class="messages">
  <small class="message {{ message.type }}" ng-repeat="message in trakt.messages track by $index">{{ message.content }}</small>
  <small class="message {{ message.type }}" ng-repeat="message in trakt.basic.messages track by $index">{{ message.content }}</small>
  <small class="message {{ message.type }}" ng-repeat="message in trakt.pin.messages track by $index">{{ message.content }}</small>
</div>

<div ng-switch="state()">
  <div class="account-edit" ng-switch-when="edit">
    <co-trakt-login
      co-cancel-enabled="isAuthenticated()"
      co-cancelled="onCancelled"

      co-basic="trakt.basic"
      co-basic-authenticated="onBasicAuthenticated()"

      co-pin=trakt.pin
      co-pin-authenticated="onPinAuthenticated(authorization, settings)"

      co-button-size="tiny"
    >
    </co-trakt-login>
  </div>

  <div class="account-view" ng-switch-default>
    <img class="avatar" ng-src="{{ trakt.thumb_url }}">

    <div class="details">
      <h4>{{ trakt.username }}</h4>

      <div class="actions">
        <a class="button tiny secondary" ng-click="switch('edit')" title="Edit">
          <i class="fi-pencil"></i>
        </a>
      </div>
    </div>
  </div>
</div>

