<small class="error" ng-repeat="error in trakt.errors track by $index">{{ error }}</small>
<small class="warning" ng-repeat="warning in trakt.warnings track by $index">{{ warning }}</small>

<div ng-switch="state()">
  <div class="account-edit" ng-switch-when="edit">
    <co-trakt-login
      co-button-size="tiny"
      co-cancelled="onCancelled"
      co-basic="trakt.basic"
      co-basic-authenticated="onBasicAuthenticated()"
      co-pin=trakt.pin
      co-pin-authenticated="onPinAuthenticated(authorization, settings)">
    </co-trakt-login>
  </div>

  <div class="account-view" ng-switch-default>
    <img class="avatar" ng-src="{{ trakt.thumb_url }}">

    <div class="details">
      <h4>{{ trakt.username }}</h4>

      <div class="actions">
        <a class="button tiny secondary" ng-click="switch('edit')">Change</a>
      </div>
    </div>
  </div>
</div>

