<div class="connect panel small-10 small-centered large-4 large-centered columns" ng-switch="state">
  <div class="header">
    <h5>Connect</h5>
  </div>

  <div class="servers" ng-switch-default>
    <div class="row server" ng-repeat="server in servers" ng-click="select(server)">
      <div class="name small-12">{{ server.name }}</div>
      <div class="error small-12" ng-show="server.status">{{ server.status }}</div>
    </div>
  </div>

  <div class="status" ng-switch-when="connecting">
    <span us-spinner="{color: '#333', length: 0, lines: 7, radius: 15, width: 10}"></span>
  </div>
</div>
