<div class="login panel">
  <div class="header">
    <h5>Login to plex.tv</h5>

    <div class="help">
      <a class="details" ng-click="showAuthenticationDetails()" title="Authentication details">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>

  <form>
    <div class="row">
      <label>Username
        <input type="text" ng-model="credentials.username"/>
      </label>
      <label>Password
        <input type="password" ng-model="credentials.password"/>
      </label>

      <input class="button small" type="submit" value="Sign in" ng-click="submit()"/>
    </div>
  </form>
</div>
