<div class="login panel">
  <div class="header">
    <h5>Login to plex.tv</h5>

    <div class="help">
      <a class="details" ng-click="showAuthenticationDetails()" title="Authentication details">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
  </div>

  <small class="error" ng-repeat="error in errors track by $index">{{ error }}</small>

  <div ng-switch="method">
    <div class="pin-authentication" ng-switch-when="pin">
      <div class="instructions">
        Visit <a href="https://plex.tv/pin" target="_blank">https://plex.tv/pin</a> and enter this code:
      </div>

      <div class="code" ng-switch="pin.state">
        <div class="code-spinner" ng-switch-when="create">
          <span us-spinner="{color: '#FFF', length: 0, lines: 7, radius: 15, width: 10}"></span>
        </div>
        <div class="code-value" ng-switch-when="check">
          {{ pin.data.code }}
        </div>
        <div class="code-error" ng-switch-when="error">
          <b>Error</b><br/>
          Unable to request pin details from plex.tv
        </div>
      </div>

      <div class="buttons">
        <a class="switch button secondary small" ng-click="switch('basic')">Manual</a>
      </div>
    </div>

    <form class="basic-authentication" ng-switch-default>
      <div class="fields">
        <label>Username
          <input type="text" ng-model="credentials.username"/>
        </label>
        <label>Password
          <input type="password" ng-model="credentials.password"/>
        </label>
      </div>

      <div class="buttons">
        <a class="switch button secondary small" ng-click="switch('pin')">PIN</a>
        <input class="button small" type="submit" value="Sign in" ng-click="basic.login()"/>
      </div>
    </form>
  </div>
</div>
